<div class='map' id='map'>
  <script>
  // var L = require('leaflet');
  // require('leaflet-routing-machine'); // Adds L.Routing onto L
  // require('lrm-mapbox');

  L.mapbox.accessToken = 'pk.eyJ1IjoiY2x1aHJpbmciLCJhIjoiNWF2Z1l6ZyJ9.8peAq7kTQyvXShlVv1K82w';
  // L.mapbox.accessToken = '<%= Rails.application.secrets.mapbox_token %>';
  // L.mapbox.accessToken = "ENV['facebook_secret']";
  var map = L.mapbox.map('map', 'cluhring.lc04leg6')

  var myLayer = L.mapbox.featureLayer().addTo(map);

  var geojsonFeatures = [
  <% @closest_stations_to_route.each do |station| %>
  {
  "type": "Feature",
  "properties": {
    "url":"<%= request.env['HTTP_HOST']%>/stations/<%= station.id %>",
    "marker-symbol":"fuel",
    "marker-size":"medium",
    "marker-color": "<%= fuel_color_helper(station.fuel_type_code) %>",
    "stationDetails": "<%= station.station_name %><br><%= station.street_address %>, <%= station.city %>, <%= station.state %> <%= station.zip %>"
    // "icon": {
    //   "iconUrl": 'https://pbs.twimg.com/profile_images/444146105312243712/EHdy1GyV_400x400.png',
    //   "iconSize": [48, 48]
    // }
  },
  "geometry": {
    "type": "Point",
    "coordinates": [
      <%= station.longitude %>,
      <%= station.latitude %>
      ]
  }
  },
  <% end %>
  ];

  myLayer.on('layeradd', function(e) {
  var marker = e.layer,
    feature = marker.feature;

  var popupContent =  '<a class="popup" href="http://' +
    feature.properties.url + '">' +
                          feature.properties.stationDetails +
                      '</a>';
  // if (feature.properties && feature.properties.popupContent) {
  marker.bindPopup(popupContent);
  // marker.bindPopup(feature.properties.url);
  // marker.setIcon(L.icon(feature.properties.icon));
  });

  myLayer.setGeoJSON(geojsonFeatures);

  // <#% @alt_fuels.each do |alt_fuel| %>
  // var <#%= alt_fuel.name %> = new L.LayerGroup();
  // <#% end %>
  //
  // var overlays = {
  // <#% @alt_fuels.each do |alt_fuel| %>
  // "<#%= alt_fuel.name %>": <#%= alt_fuel.name %> ,
  // <#% end %>
  // };


  // L.DomEvent.on(L.DomUtil.get('clear-wps'), 'click', function() {
  //   ctrl.setWaypoints([]);
  // });

  // L.Control.geocoder().addTo(map);

  map.locate();

  function onLocationFound(e) {
  var radius = e.accuracy / 2;
  var current_lat = e.latlng.lat;
  var current_long = e.latlng.lng;
  var ctrl = L.Routing.control({
    waypoints: [
      L.latLng (e.latlng.lat, e.latlng.lng),
      L.latLng (<%= session[:latitude] %>, <%= session[:longitude] %>)
    ],
    routeWhileDragging: true,
    draggableWaypoints: true,
    geocoder: L.Control.Geocoder.nominatim()
  }).addTo(map);

  $.ajax ({
    data: { latitude1: current_lat, longitude1: current_long, latitude2: <%= session[:latitude] %>, longitude2: <%= session[:longitude] %> },
    type: 'post',
    url: '/stations'
  });
  L.marker(e.latlng).addTo(map)
  .bindPopup("You are here").openPopup();

  L.circle(e.latlng, radius).addTo(map);
  }

  map.on('locationfound', onLocationFound);

  </script>
</div>
