<!DOCTYPE html>
<html>
<head>
  <title>FluxCapacitor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <title>Flux Capacitor Map</title>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" href="leaflet-routing-machine.css" />
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="leaflet-routing-machine.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta charset=utf-8 />
</head>
<body>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash-#{name}" %>
<% end %>
<%= yield %>

</body>
</html>
